
body
{
    font-family: galaxie-copernicus-book,serif;
}

.mission
{
    /*background-color:#FFCD00;
    color:black;
    */
    background-color: #46351D;
    color:white;

    border-color: black;
}

.goal
{
    /*background-color:#6abcb6; 
    color:black;
    */
   
    background-color:#B1CA3F;
    color:black;
    border-color: black;

}

.slo
{
    background-color:#38A0E5;
    color:black;

}


.assessment
{
    background-color:#85FFF3;
    color:black;
}

.intervention
{
    background-color:#42B391;
    color:black;

}



.center {
    margin:auto; 
}

.tier1
{
    width:1000px;
    border-radius: 30px;
    font-size:2rem;
    text-align:center;
    padding:1em;
    border:5px solid black;
    box-shadow:10px 10px 10px grey;
    overflow:auto;
}

.tier2
{
    
    display:flex;
    float:left;
    clear:left;
    border:3px solid black;
    text-align:center;
    border-radius: 20px;
    padding:10px;
    font-size:1.25rem;
    margin-left:40px;
    margin-top:20px;
    box-shadow:10px 10px 10px #050505;    
}

.tier3
{
    font-size:.8rem;
    display:flex;
    float:right;
    clear:right;
    border:solid black;
    
    padding:10px;
    margin:5px;
    border-radius:20px;
}

.tier4
{
    font-size:1rem;
    display:flex;
    float:left;
    clear:left;
    border:solid black;
    text-align:center;
    border-radius: 20px;
    padding:10px;
    margin-left:100px;
    margin-top:20px;
    box-shadow:10px 10px 10px #050505;      

  

}


.title
{
    font-size: 2em;
    padding-bottom: .25em;
}

.description
{
    padding-bottom:1em;
    margin:1em;
}

.tier2>.header
{
    width:350px;
    float:left;
    margin: 20px;
}

.goal-description
{
    font-size: 1rem;
    /*width:175px;*/
    text-align:center;
    padding-bottom:1rem;
}
.tier3Container
{
    float:left;
}
.tier3>.title
{
    width:200px;
}


.icons
{
    display:flex;
    align-items:center;
}

.goal-container
{
    float:left;
}

.intervention-icon
{
    float:left;
    width:50px;
    height:50px;
}



.tier4 img
{
float:left;
clear:left;
width:150px;
height:150px;
}

.tier4 .colum2
{
    float:left;
    width:350px;
    padding:10px;
}

.tier4 .why
{
    margin-top:30px;
    margin-left:50px;
    float:left;
}

a:link {
    color: #307d66;
  }
  
  /* visited link */
  a:visited {
    color: #307d66;
  }
  
  /* mouse over link */
  a:hover {
    color: #2bdaa6;
  }


  .hidden
  {
    display:none;
  }

#tooltip
{
    position:absolute;
    color:black;
    box-shadow: 4px 4px 10px rgba(0,0,0,6);
    pointer-events:none;
    /*width:200px;
    height:200px;*/
    border-radius: 25px;
    padding:10px;
    background-color:white;
    font-size:1rem;
}

.nav img
{
    float:right;
    width:40px;
    height:40px;
}

.nav
{
    position:fixed;
    top:10px;
    right:10px;

}